extends layout

block content
	- var first = true; // by default, display first card
	for card in decks.created[0].cards
		if first
			div(class='card' style='display: inline')
				h1= card.question
				h2 ?
				h1= card.answer
				br
			- first = false;
		else
			div(class='card' style='display: none')
				h1= card.question
				h2 ?
				h1= card.answer
				br
	script.
		var decks = document.getElementsByClassName('card');
		var i = 1; // first card already displayed

		// show/hide cards in deck
		window.document.addEventListener(
			'click',
			function () {
				if (i == decks.length) { // last, return home
					location.href='/home';
				} else { // somewhere in the middle
					decks[i-1].style.setProperty('display', 'none');
				}
				decks[i++].style.setProperty('display', 'inline');
			},
			false
		);
	// HANLE ALL CREATION
	// draw all cards
	// put cards in random order 
	//  assign a unique id or value
	// 	apply hide css
	// Javascript to iterate over uniquie id 1-by-1
	//	draw card
	//   question
	//	 answer	
	//    'Got it! - Green'
	//    'Need Practice. - Red'
	//  next
	//  end
	//   how many did you
	//    get
	//    need practice